{
    "plugins": [
        ["import",{
            "libraryName":"antd",
            "libraryDirectory":"es",
            "style":true
        }]
    ],
    "env": {
        "development":{
            "compact":false
        }
    }
}